html {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0px;
}
main {
  margin: 1rem;
}

.flex-container {
  /*background-color: ;*/
  font-size: 30px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
}

.flex-container > button {
  min-width: 20%;
  min-height: 10%;
}

.flex-container pomo-button::part(button){
  width: 30rem;
}