.pomo-button {
    background-color: rgba(51,56, 68, 0.75);
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 1.5rem;
    
    min-width: 12rem;
    margin-right: 1rem;
    cursor: pointer;
    

    padding: 2rem 2rem;
    width: 100%;
    transition: transform 0.2s, background-color 0.2s;
    display: block !important;
}
.pomo-button.small {
    padding: 0.75rem 0.5rem;
}
.pomo-button.tiny {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
}


.pomo-button:hover {
    /* transform: translateY(-4px); */
    background-color: rgba(51,56, 68, 0.95);
}
.pomo-button:active {
    /* transform: translateY(-2px); */
    background-color: rgba(51,56, 68, 0.85);
}

.pomo-button.outline {
    background-color: white;
    border: 1px #333844 solid;
    color: #333844;
}


.pomo-button.nav {
    margin-right: 2rem;
    background-color: #FA7F7F;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    min-width: 6rem;
}
.pomo-button.nav:hover {
    background-color: rgba(233, 105, 105, 1);
}