.modal-wrapper {
    color: rgba(51,56,68);
}
.modal-wrapper .shadow {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
.modal-wrapper .modal .title {
    font-size: 2rem;
}
.modal-wrapper .modal {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24rem;
    padding: 2rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
}
.modal-wrapper .modal > div {
    margin-bottom: 1rem;
}
.modal-wrapper .modal #modal-close {
    position: fixed;
    right: 1rem;
    top: 2rem;
    color: rgba(0,0,0,0.5);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
.modal-wrapper pomo-button::part(button) {
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    position: relative;
}