.taskCreator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.taskList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-58%,40%);
}
.timerWrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-55%,-200%);
    width: 25rem;
    height: 10rem;
    display: flex;
    border: 1px black solid;
    border-radius: 0.25rem;
    background-color: rgba(0,0,0,0.25);
    ;
}
.timerWrapperWorkTime {

    position: absolute;
    top: 82%;
    left: 88%;
    transform: translate(-55%,-200%);
    width: 20rem;
    height: 20rem;
    display: flex;
    border: 1px black solid;
    border-radius: 0.25rem;
    background-color: rgba(0,0,0,0.25);
    
}

.timerWrapperWorkTime > .startTimerWrapper {
    display: none;
}

.timerWrapperWorkTime > .timerCircle {
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    background-color:white;
    line-height: 8rem;
}

.timerWrapperWorkTime > .timerCircle > .timerNumber {
    position: relative;
    font-size: 4rem;
    top: 25%;
    left: 18%;
    font-weight: bold;
    
}

.timerCircle {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    background-color: white;
    line-height: 8rem;
}
.timerCircle > .timerNumber {
    position: relative;
    font-size: larger;
    font-weight: bold;
    left: 30%;
}
.startTimerWrapper pomo-button::part(button){
    position: relative;
    top: 2.8rem;
    left: 2rem;
    background-color: white;
    color: black;
    line-height: 12.5%;
}

.completeSessionWrapper {
    display: none;
}
.completeSessionWrapper pomo-button::part(button){
    position: absolute;
    top: 45%;
    left: 78%;
    line-height: 12.5%;
}